{% extends "layout.html" %}

{% block content %}
<h1>All Employees Listing</h1>
  <p>Type something in the input field to search the table for first names, last names or emails:</p>  
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br><div><a href="/api/employee_add/create" class="btn btn-info">Add New Employee</a></div>
<div class="bs-example">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Job Title</th>
                <th>Assigned Locations</th>
                <th colspan="2" align="center">Actions</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% if data %}
            {% for row in data %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.first_name }}</td>
                <td>{{ row.last_name }}</td>
                <td>{{ row.email }}</td>
                <td>{{ row.job_title }}</td>
                <td></td>
                <td><a href="/api/employee_edit/{{row.id}}" class="btn btn-info">Edit</a></td>
                <td>
                    <form action="/api/employee_delete/{{row.id}}" method="POST"> 
                        <input class="btn btn-danger" type = "submit" value ="Delete">
                        <input type="hidden" id="delete" name="delete" value="1">
                        <input type="hidden" id="id" name="id" value="{{row.id}}">
                    </form>
                </td>
            </tr>

            {% endfor %} 
            {% else %}
            <p>No records found</p>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}
