{% extends "layout.html" %}

{% block content %}
<div class="container col-lg-6">
    <h1>Adding New Employee</h1>
    <form role="form" method="POST" action="/api/employee_add">

        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
        </div>

        <div class="form-group">
            <label for="name">Job Title</label>
            <select class="form-control" id="job_title" name="job_title">
	 	{% for ids in results.job_ids %}
			<option value="{{ids.id}}">{{ids.job_title}}</option>
		{% endfor %}
	    </select>
        </div>
        <div class="form-group">
            <label for="name">Assigned Locations</label>
            <select class="form-control" id="location_name_1" name="location_name_1">
                {% for ids in results.loc_ids %}
                        <option value="{{ids.id}}">{{ids.location_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="location_name_2" name="location_name_2">
                {% for ids in results.loc_ids %}
                        <option value="{{ids.id}}">{{ids.location_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="location_name_3" name="location_name_3">
                {% for ids in results.loc_ids %}
                        <option value="{{ids.id}}">{{ids.location_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="location_name_4" name="location_name_4">
                {% for ids in results.loc_ids %}
                        <option value="{{ids.id}}">{{ids.location_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="location_name_5" name="location_name_5">
                {% for ids in results.loc_ids %}
                        <option value="{{ids.id}}">{{ids.location_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="location_name_6" name="location_name_6">
                {% for ids in results.loc_ids %}
                        <option value="{{ids.id}}">{{ids.location_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="location_name_7" name="location_name_7">
                {% for ids in results.loc_ids %}
                        <option value="{{ids.id}}">{{ids.location_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="location_name_8" name="location_name_8">
                {% for ids in results.loc_ids %}
                        <option value="{{ids.id}}">{{ids.location_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="location_name_9" name="location_name_9">
                {% for ids in results.loc_ids %}
                        <option value="{{ids.id}}">{{ids.location_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="location_name_10" name="location_name_10">
                {% for ids in results.loc_ids %}
                        <option value="{{ids.id}}">{{ids.location_name}}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>
{% endblock content %}
