<div class="fusion-footer">
						
	
	<footer id="footer" class="fusion-footer-copyright-area">
		<div class="fusion-row">
			<div class="fusion-copyright-content">

				<div class="fusion-copyright-notice">
		<div>
		<style>
.lsa-logo {
margin: 0px auto 60px auto; 
width: 70px; 
text-align: center;
float: right;
right: 5%;
}
@media(max-width: 768px) {
    .lsa-logo {
        right: 0;
			  margin-top: -40px;
        position: relative;
    }
}
</style>
Copyright 2018 Rio SEO | All Rights Reserved | <a href="/privacy-policy">Privacy Policy</a> | <a href="/privacy-policy/#online-advertising">Online Advertising</a>
<div class="lsa-logo"><a href="http://lsacertification.com/lsa/certification-smb/RioSEO-13.aspx"><img src="https://www.rioseo.com/wp-content/uploads/2017/10/lsagray.png"></a></div>	</div>
</div>

			</div> <!-- fusion-fusion-copyright-content -->
		</div> <!-- fusion-row -->
	</footer> <!-- #footer -->
</div> <!-- fusion-footer -->
			
</div> <!-- wrapper -->
