<?php
<html>
  <head>
     <meta charset="utf-8" />
     <title>Code Challenge Home</title>
  </head>
  <body>
     <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
     <link href=‘https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<link rel='stylesheet' id='sb_instagram_styles-css'  href='https://www.rioseo.com/wp-content/plugins/instagram-feed/css/sb-instagram.min.css?ver=1.10.1' type='text/css' media='all' />
<link rel='stylesheet' id='sb-font-awesome-css'  href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='lcp-slick-css'  href='https://www.rioseo.com/wp-content/plugins/logo-carousel-pro-2/assets/css/slick.css?ver=3.2.3' type='text/css' media='' />
<link rel='stylesheet' id='lcp-bx-css'  href='https://www.rioseo.com/wp-content/plugins/logo-carousel-pro-2/assets/css/jquery.bxslider.min.css?ver=3.2.3' type='text/css' media='' />
<link rel='stylesheet' id='lcp-font-awesome-css'  href='https://www.rioseo.com/wp-content/plugins/logo-carousel-pro-2/assets/css/font-awesome.min.css?ver=3.2.3' type='text/css' media='' />
<link rel='stylesheet' id='lcp-tooltipster-min-css'  href='https://www.rioseo.com/wp-content/plugins/logo-carousel-pro-2/assets/css/tooltipster.css?ver=3.2.3' type='text/css' media='' />
<link rel='stylesheet' id='lcp-logo-carousel-pro-style-css'  href='https://www.rioseo.com/wp-content/plugins/logo-carousel-pro-2/assets/css/style.css?ver=3.2.3' type='text/css' media='' />
<link rel='stylesheet' id='lcp-logo-carousel-pro-responsive-css'  href='https://www.rioseo.com/wp-content/plugins/logo-carousel-pro-2/assets/css/responsive.css?ver=3.2.3' type='text/css' media='' />
<link rel='stylesheet' id='chosen-css'  href='https://www.rioseo.com/wp-content/plugins/wp-job-manager/assets/css/chosen.css?ver=1.1.0' type='text/css' media='all' />
<link rel='stylesheet' id='wp-job-manager-frontend-css'  href='https://www.rioseo.com/wp-content/plugins/wp-job-manager/assets/css/frontend.css?ver=1.31.3' type='text/css' media='all' />
<link rel='stylesheet' id='fusion-core-style-css'  href='https://www.rioseo.com/wp-content/plugins/fusion-core/css/style.min.css?ver=4.9.8' type='text/css' media='all' />
<link rel='stylesheet' id='dashicons-css'  href='https://www.rioseo.com/wp-includes/css/dashicons.min.css?ver=4.9.8' type='text/css' media='all' />
<link rel='stylesheet' id='avada-stylesheet-css'  href='https://www.rioseo.com/wp-content/themes/Avada/assets/css/style.min.css?ver=5.5.2' type='text/css' media='all' />
<link rel='stylesheet' id='recent-posts-widget-with-thumbnails-public-style-css'  href='https://www.rioseo.com/wp-content/plugins/recent-posts-widget-with-thumbnails/public.css?ver=6.2.1' type='text/css' media='all' />
<link rel='stylesheet' id='jetpack-widget-social-icons-styles-css'  href='https://www.rioseo.com/wp-content/plugins/jetpack/modules/widgets/social-icons/social-icons.css?ver=20170506' type='text/css' media='all' />
<link rel='stylesheet' id='jetpack_css-css'  href='https://www.rioseo.com/wp-content/plugins/jetpack/css/jetpack.css?ver=6.5' type='text/css' media='all' />
<script type='text/javascript' src='https://www.rioseo.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://www.rioseo.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<link rel='https://api.w.org/' href='https://www.rioseo.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.rioseo.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.rioseo.com/wp-includes/wlwmanifest.xml" /> 
<link rel='shortlink' href='https://wp.me/P2nm2G-4hf' />
<link rel="alternate" type="application/json+oembed" href="https://www.rioseo.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.rioseo.com%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://www.rioseo.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.rioseo.com%2F&#038;format=xml" />
    {% block header %}
        {% include 'header.html.twig' %}
    {% endblock %}
    {% block main %}
        {% include 'main.html.twig' %}
    {% endblock %}
    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}
  </body>
</html>
