<div class="fusion-header">
	<div class="fusion-row">
				
		
<main id="main" role="main" class="clearfix width-100" style="padding-left:30px;padding-right:30px">
			<div class="fusion-row" style="max-width:100%;">
<div class="fusion-fullwidth fullwidth-box nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: #f3f3f3;background-position: center center;background-repeat: no-repeat;padding-top:0px;padding-right:30px;padding-bottom:0px;padding-left:30px;'><div class="fusion-builder-row fusion-row "><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1  fusion-one-full fusion-column-first fusion-column-last 1_1"  style='margin-top:0px;margin-bottom:20px;'>
                                        <div class="fusion-column-wrapper" style="padding: 50px 0px 50px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"  data-bg-url="">
                                                <div class="fusion-title title fusion-sep-none fusion-title-center fusion-title-size-one" style="margin-top:0px;margin-bottom:10px;"><h1 class="title-heading-center">Join leading brands and achieve local success.</h1></div><div class="fusion-testimonials clean fusion-testimonials-1" data-random="0" id="case-study"><style type="text/css" scoped="scoped">#fusion-testimonials-1 a{border-color:#45555f;}#fusion-testimonials-1 a:hover, #fusion-testimonials-1 .activeSlide{background-color: #45555f;}.fusion-testimonials.clean.fusion-testimonials-1 .author:after{border-top-color:rgba(246,246,246,0) !important;}</style><div class="reviews"><div class="review avatar-image"><div class="testimonial-thumbnail"><img class="testimonial-image" src="https://www.rioseo.com/wp-content/uploads/2017/12/texas-roadhouse.png" width="350" height="361" /></div><blockquote style="margin: -25px;background-color:rgba(246,246,246,0);"><q style="background-color:rgba(246,246,246,0);color:#45555f;" class="fusion-clearfix">
<h2>Grill the Local Competition</h2>
<p>Texas Roadhouse improved its online visibility and presence across hundreds of restaurant locations, driving <strong>19% more click-to-calls</strong> and <strong>47% more clicks-for-directions</strong> across the brand YOY for August 2017. See how Rio SEO’s Open Local Platform and gold standard local marketing service streamlined listings management and boosted Google Search impressions for the brand by 30% year-over-year.</p>
</div></div><div class="fusion-clearfix"></div>

                                        </div>
                                </div></div></div>
			</div>  <!-- fusion-row -->
</main>  <!-- #main --> 
